@media (orientation: portrait) {
  #grid {    
    font-size: 10vh;
    display: grid;
    height: 100%;

    /* The rows, columns and areas of the grid are defined visually
     * using the grid-template-areas property.  Each string is a row,
     * and each word an area.  The number of words in a string
     * determines the number of columns. Note the number of words
     * in each string must be identical. */
    grid-template-areas: "title stats"
                         "score stats"
                         "board board"
                         "ctrls ctrls";

    /* The way to size columns and rows can be assigned with the
     * grid-template-columns and grid-template-rows properties. */
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
}

@media (orientation: landscape) {
  #grid {
    font-size: 10vw;
    display: grid;
    height: 100%;

    /* Again the template property defines areas of the same name,
     * but this time positioned differently to better suit a
     * landscape orientation. */
    grid-template-areas: "title board"
                         "stats board"
                         "score ctrls";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

/* The grid-area property places a grid item into a named
 * area of the grid. */
#title    { grid-area: title; border: 1px solid red; }
#score    { grid-area: score;  border: 1px solid red; }
#stats    { grid-area: stats;  border: 1px solid red; }
#board    { grid-area: board;  border: 1px solid red; }
#controls { grid-area: ctrls;  border: 1px solid red; }

